<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by Mumtaz, an aspiring web developer, who is currently a Firehose Project student.
  </p>
  <p>
  Her hobbies include kickboxing, keeping up with her favorite shows, and Instagramming lots of pictures of trees in the Fall.
  </p>
  <br />
  <p>
  If you want to learn how to code, like Mumtaz is, learn more about The Firehose Project <a target="_blank" href="http://www.thefirehoseproject.com/"> here.</a>
  </p>


  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'mumtaz.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Mumtaz</h2>
    <br />
    <p>
    Mumtaz is excited to be making a career change by diving into the world of web development. She previously worked in Human Resources and Communications before deciding to make the change.
    </p>
  </div>

<br class="clear" />
<br />
<br />
<br />
<br />

</div>